@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Polityka Prywatności

    Strona internetowa nie zbiera danych osobowych w sposób automatyczny. Dane mogą być przekazywane dobrowolnie przez użytkownika, np. poprzez formularz kontaktowy lub wiadomość e-mail.<br /><br />

    Przekazane dane wykorzystywane są wyłącznie w celu kontaktu i nie są udostępniane osobom trzecim.<br /><br />

    Strona może używać plików cookies w celu prawidłowego działania.<br /><br />

    Użytkownik ma prawo dostępu do swoich danych oraz ich usunięcia.<br /><br />
</p>
